* {font-family: helvetica;}

body > div > header {
    color: black;
    text-align: center;
    margin: auto;
    flex: 0.5;
    order: 1;
    background-image: url("cool-background.jpg");
    border: solid 4px;
    border-color: darkblue;
    border-radius: 7px;
    color: darkblue;
    min-width: 35%;
}

.maincontent {
    font-family: helvetica;
    font-size: 110%;
    border: none;
}

.maincontentlast {
    font-family: helvetica;
    font-size: 110%;
border: none;
    display: flex;
}

.certifications {
    border: none;
    display: inline-block;
    margin: 5%
}
.goals {width: 45%;
margin-left: 25%;
border:none;
font-family: helvetica}

.picdiv {width: 500px;}

.mainheader {
   font-family: helvetica;
    font-weight: bolder;
    font-size: 210%;
    margin-left: 30%;
    position: relative;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.resumecontent {font-family: helvetica;
    width: 40%;

margin: auto;}

li a {
    display: block;
    color: black;
    font-size: 150%;
    font-family: helvetica;
    max-width: 100%;
    padding: 10%;
    text-decoration: none;
}

li {
    text-align: center;
    width: 13%;
    display: inline-block;
    background-color: ghostwhite;
    border: 4px;
    border-style: ridge;
    border-color: black;

}


li a.active {
    background-color:black;
    color: white;
    border: solid 4px;
    border-color: ghostwhite;

}

li a:hover:not(.active) {
    background-color: black;
    color: white;

}

body > div {width: 60%;
    margin: auto;
    display: flex;
    min-height: 500px;

}

body {width: 100%;
background-image: url("yes.jpg");
background-size: }

.nav {color: black;
    text-align: center;
    width: 60%;
    margin: auto;
    flex: 1.5;
    order: 1;
    min-width: 35%;
    margin-top:5px;
}

#indexh2 {color: #5e5e63;
    text-decoration:;
width: 25%;
margin-left: 31%;
text-decoration: overline;
padding-top: -2%;}

.logo {
    margin-top: 2%;
    margin-left: 2%;
}

.maincontent {
    margin: 2.2%;
}

.menu {background-color:transparent;
width: 17%;
display: inline-block;
height: 30px;
border: solid;
border-color: #ff6c16;
border-radius: 5px;
text-align: center;
padding: 5px;
color: ghostwhite;
background-color: darkblue;}

.main {width: 60%;
margin: auto;
    background-color: ghostwhite;
    border-color: darkred;
margin-top: 5px;
    border: solid 5px;
    border-color: black;
border-style: ridge;}

.mainimage {
    margin: 1.3%;
    float: left;
    border: solid 5px;
    border-style: ridge;
    border-color: black;
    border-radius: 200px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

#contactheader {
    position: relative;
}

form {
    width: 40%;
 margin-left: 35%;
    margin-top: 25%;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: inherit;
}

