* {font-family: Helvetica}

body > div > header {
    color: black;
    text-align: center;
    width: 100%;
    margin: auto;
    flex: 1.5;
    order: 1;
    background-color: #3b3e44;
    border: solid 4px;
    border-color: crimson;
    border-radius: 7px;
    color: ghostwhite;
    min-width: 35%;
}

body > div {width: 60%;
    margin: auto;
    display: flex;

}

body {width: 100%;
    background-color: #b6c1d3;
}

.nav { color: black;
    text-align: center;
    width: 60%;
    margin: auto;
    flex: 1.5;
    order: 1;
    background-color: #3b3e44;
    border: solid 4px;
    border-color: crimson;
    border-radius: 7px;
    color: ghostwhite;
    min-width: 35%;
    margin-top:5px;
}

.menu {background-color: crimson;
width: 17%;
display: inline-block;
height: 30px;
border: solid;
border-color: #b6c1d3;
border-radius: 5px;
text-align: center;
padding: 5px;}